/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1035 {
        padding: var(--sectionPadding);
        /* 160px - 250px */
        padding-top: clamp(10rem, 18vw, 15.625rem);
        position: relative;
        z-index: 1;
    }
    #hero-1035 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 34.375rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #hero-1035 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #hero-1035 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--bodyTextColorWhite);
        margin-bottom: 0.75rem;
        display: flex;
        flex-direction: column;
        /* 8px - 16px */
        gap: clamp(0.5rem, 1.5vw, 1rem);
    }
    #hero-1035 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        /* 16px - 24px */
        margin: 0 0 clamp(1rem, 2vw, 1.5rem) 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #hero-1035 .cs-text {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 40.625rem;
        /* 32px - 38px */
        margin: 0 0 clamp(2rem, 3.5vw, 3rem);
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #hero-1035 .cs-button-solid {
        font-size: 1rem;
        /* 46px - 56px */
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: #fff;
        min-width: 9.375rem;
        padding: 0 2rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        /* prevents padding from adding to the width */
        box-sizing: border-box;
    }
    #hero-1035 .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: #000;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #hero-1035 .cs-button-solid:hover:before {
        width: 100%;
    }
    #hero-1035 .cs-spotlight {
        text-align: center;
        /* 40px - 48px */
        margin: clamp(2.5rem, 4vw, 3rem) 0 0 0;
        padding: clamp(2.5rem, 4vw, 3rem) 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        /* 24px - 32px */
        gap: clamp(1.5rem, 3vw, 2rem);
    }
    #hero-1035 .cs-spotlight:before {
        /* dashed line */
        content: "";
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
            90deg,
            #bababa,
            #bababa 75%,
            transparent 75%,
            transparent 100%
        );
        background-size: 16px 16px;
        border: none;
        opacity: 1;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }
    #hero-1035 .cs-image {
        /* 120px - 156px */
        width: clamp(7.5rem, 12vw, 9.75rem);
        height: auto;
        border: 4px solid var(--primary);
        box-sizing: border-box;
        border-radius: 50%;
        background-color: var(--primary);
    }
    #hero-1035 .cs-name {
        /* 25px - 31px */
        font-size: clamp(1.5625rem, 3vw, 1.9375rem);
        font-weight: 700;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
        display: block;
    }
    #hero-1035 .cs-job {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5em;
        text-align: inherit;
        margin: 0 0 0.75rem 0;
        color: var(--primary);
        display: block;
    }
    #hero-1035 .cs-flex-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5em;
        text-align: inherit;
        max-width: 21rem;
        margin: 0;
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
        display: block;
    }
    #hero-1035 .cs-image-group {
        width: 100%;
        /* 16px - 48px */
        padding: clamp(1rem, 4.5vw, 3rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        border: 1px solid var(--primary);
        background-color: #1a1a1a;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #hero-1035 .cs-icon {
        /* 100px - 116px */
        width: clamp(6.25rem, 8vw, 7.25rem);
        height: auto;
        margin: 0 0 1.75rem 0;
    }
    #hero-1035 .cs-tagline {
        font-size: 1rem;
        line-height: 1.2em;
        font-weight: 700;
        /* 8px - 32px */
        margin: 0 0 clamp(0.5rem, 2vw, 2rem);
        color: var(--primary);
    }
    #hero-1035 .cs-h2 {
        /* 25px - 31px */
        font-size: clamp(1.5625rem, 3vw, 1.9375rem);
        line-height: 1.2em;
        font-weight: 700;
        text-align: inherit;
        width: 70%;
        max-width: 18.75rem;
        margin: 0 0 0.5rem 0;
        color: var(--bodyTextColorWhite);
    }
    #hero-1035 .cs-desc {
        font-size: 1rem;
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        max-width: 18.75rem;
        /* 40px - 48px */
        margin: 0 0 clamp(2.5rem, 5vw, 3rem);
        color: var(--bodyTextColorWhite);
        opacity: 0.8;
    }
    #hero-1035 .cs-picture {
        width: 100%;
        /* 340px - 560px */
        height: clamp(21.25rem, 43vw, 35rem);
        display: block;
        position: relative;
    }
    #hero-1035 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
    #hero-1035 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #hero-1035 .cs-background:before {
        /* background color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.7;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #hero-1035 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1035 .cs-container {
        max-width: 80rem;
    }
    #hero-1035 .cs-spotlight {
        text-align: left;
        width: 100%;
        flex-direction: row;
    }
    #hero-1035 .cs-image-group {
        text-align: left;
        align-items: flex-start;
        position: relative;
    }
    #hero-1035 .cs-icon {
        margin: 0;
        position: absolute;
        /* 16px - 48px, same as cs-image-group padding clamp */
        top: clamp(1rem, 4.5vw, 3rem);
        right: clamp(1rem, 4.5vw, 3rem);
    }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-1035 .cs-container {
        flex-direction: row;
        justify-content: space-between;
    }
    #hero-1035 .cs-content {
        max-width: 32.625rem;
        text-align: left;
        align-items: flex-start;
    }
    #hero-1035 .cs-topper {
        flex-direction: row;
        align-items: center;
    }
    #hero-1035 .cs-image-group {
        max-width: 39.375rem;
    }
}

                                